@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nb9lvy');
  src:  url('fonts/icomoon.eot?nb9lvy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nb9lvy') format('truetype'),
    url('fonts/icomoon.woff?nb9lvy') format('woff'),
    url('fonts/icomoon.svg?nb9lvy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Menu:before {
  content: "\e900";
  color: #1f2f98;
}
.icon-Group-7:before {
  content: "\e901";
  color: #1f2f98;
}
.icon-Group-10:before {
  content: "\e902";
  color: #a7a7a7;
}
.icon-Group-21:before {
  content: "\e903";
  color: #1f2f98;
}
.icon-Group-26:before {
  content: "\e904";
  color: #1f2f98;
}
.icon-Group-73:before {
  content: "\e905";
  color: #1f2f98;
}
.icon-Layer-39:before {
  content: "\e906";
  color: #1f2f98;
}
.icon-Path-3:before {
  content: "\e907";
  color: #1f2f98;
}
.icon-Path-4:before {
  content: "\e908";
  color: #1f2f98;
}
.icon-Path-14:before {
  content: "\e909";
  color: #fff;
}
.icon-Path-22:before {
  content: "\e90a";
  color: #1f2f98;
}
